body,
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* common shared style */

.common-text{
    color: #3A3A3A;
    font-family: 'Poppins', sans-serif;
}


.btn-primary{
    color: #fff;
    font-size: 16px;
    font-weight: 700px;
    border: none;
    padding: 15px 24px;
    border-radius: 41px;
    background: #E02C6D;
}

main{
    margin: 0px 120px;
}

/* header section start */

.header nav{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.header nav ul{
    display: flex;
    gap: 34px;
}

.header nav ul li{
    list-style: none;
}

.header nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.header .header-banner{
    margin-top: 100px;
    margin-left: 120px;
    margin: 120px;
    display: flex;
}

.header .header-banner .banner-detail h1{
    font-size: 50px;
}

.header .header-banner .banner-detail p{
    padding: 16px 0px;
}

.header .header-banner .banner-img{
    background: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: 95%;
}
/* header section end */


/* company logo section start */
.company-logo-section{
    margin-top: 80px;
}

.company-logo-section .company-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 33px 0px;
}
/* company logo section end */





/* media query start for samll device */


@media screen and (max-width: 576px) {
    main{
        margin: 0;
    }
    .header nav, ul{
        flex-direction: column;
        align-items: center;
    }

    .header .header-banner{
        margin: 40px auto;
        text-align: center;
        flex-direction: column-reverse;
    }

    .header nav ul{
        margin-top: 20px;
        gap: 15px;
    }

    .header-banner .banner-detail h1{
        font-size: 40px;
    }

    .banner-img{
        background: url('../images/Circle\ design.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        padding: 22px;
        margin-left: 20px;
    }
    .banner-img img{
        width: 100%;
        text-align: center;
    }

    .company-logo-section .company-logos{
        flex-wrap: wrap;
        padding: 55px 0px;
        gap: 0px;
    }

    .company-logo-section .company-logos .logo{
        padding: 10px 0px;
    }


    .company-logos .logo img{
        width: 80%;
    }

}








/* media query start for medium device */

@media screen and (min-width: 576px) and (max-width: 960px) {
    .header nav, ul{
        flex-direction: column;
        align-items: center;
    }

    .header .header-banner{
        margin: 40px auto;
        text-align: center;
        flex-direction: column;
    }
    .banner-detail{
        padding: 0px 40px;
    }

    .banner-img{
        margin-top: 50px;
    }

    .banner-img{
        background: url('../images/Circle\ design.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        padding: 22px;
        margin-left: 20px;
    }

    .company-logo-section .company-logos{
        flex-wrap: wrap;
        padding: 40px 0px;
        gap: 20px;
    }

}